@model InCuarenTime.Models.Compra

@{
    ViewData["Title"] = "Detalle Compra";
}

<div class="masonry-item col-12">
    <div class="bd bgc-white p-20">
        <h4 class="c-grey-900">Detalle Compra</h4>
        <div class="mT-30">
            <div class="row">
                <div class="col-md-2 ">
                    @Html.DisplayNameFor(model => model.Cantidad)
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.Cantidad)
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 ">
                    @Html.DisplayNameFor(model => model.Mercado)
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.Mercado.Propietario.Nombre)
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 ">
                    @Html.DisplayNameFor(model => model.Productos)
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.Productos.Nombre)
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 ">
                    @Html.DisplayNameFor(model => model.Estado)
                </div>
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.Estado)
                </div>
            </div>
            <br />
            <a class="sidebar-link" asp-action="Index">
                <span class="icon-holder">
                    <i class="c-deep-purple-500 ti-align-justify"></i>
                </span>
                <span class="title c-deep-purple-500 "> Volver a la lista </span>
            </a> |
            <a class="sidebar-link" asp-action="Edit" asp-route-id="@Model.Id">
                <span class="icon-holder">
                    <i class="c-purple-500 ti-pencil"></i>
                </span>
                <span class="title c-purple-500 "> Editar </span>
            </a>
        </div>
    </div>
</div>
